* {
  line-height: 1.2;
  margin: 0;
}

html {
  color: #333;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
  padding: 0 1em;
}

h1 {
  color: #555;
  font-size: 2em;
  font-weight: 400;
}

p, table {
  margin: 0 auto;
  padding-bottom: 0.5em;
  max-width: 65em;
}

th, td {
  padding: .1em .25em;
  text-align: left;
}

tt {
  background-color: #ccc;
}

@media only screen and (max-width: 280px) {

  body,
  p {
    width: 95%;
  }

  h1 {
    font-size: 1.5em;
    margin: 0 0 0.3em;
  }
}
